.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.hamburger {
  background-color: transparent;
  color: var(--colorSecond);
  font-size: 2rem;
  font-weight: bold;
}

.cross {
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--colorSecond);
  font-size: 4rem;
  font-weight: bold;
  z-index: 10;
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: gray;
  overflow-y: auto;
}

.mob_nav {
  position: absolute;
  top: 120px;
  right: 50%;
  transform: translate(50%);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list li {
  margin-bottom: 30px;
}

.list li a {
  font-size: var(--label-14-font-size);
  line-height: var(--label-140-line-height);
  font-weight: var(--label-500-font-weight);
  color: var(--colorSecond);
  padding: 15px 0;
}

@media screen and (max-width: 481px) {
  .cross {
    right: 20px;
  }
}
