.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 481px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}
