.bg_img {
  min-height: 850px;
  background: url("../../assets/img/bg.png") no-repeat top center,
    url("../../assets/img/line.svg") no-repeat;
  margin-top: -2px;
}

.wrapper {
  transform: translate(-50%, -24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(440px);
}

.wrapper img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .bg_img {
    min-height: 800px;
    background: url("../../assets/img/bg.png") no-repeat right top,
      url("../../assets/img/line.svg") no-repeat;
  }

  .wrapper {
    transform: translateY(410px);
  }
}
